main > .container {
    padding: 50px 15px 20px;
}
main {
    overflow-x: hidden;
}

.footer {
    background-color: #99ccff;
    font-size: .9em;
    height: 60px;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    content: '';
    left: 3px;
    display: inline-block;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    margin: 4px 4px 2px 4px;
    background: transparent;
}

a.asc:after {
    border-bottom: solid 7px #212529;
    border-top-width: 0;
}

a.desc:after {
    border-top: solid 7px #212529;
    border-bottom-width: 0;
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding-top: 7px;
    color: rgba(255, 255, 255, 0.5);
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 0;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
}

.nav > li > form > button.logout:focus {
    outline: none;
}

section {
    display: flex;
}

.background-blue {
    background-color: #003366;
}

.background-light-blue {
    background-color: #99ccff;
    padding-top: 10%;
    padding-bottom: 10%;
    margin-left: -20vw;
    margin-right: -20vw;
    padding-left: 20vw;
    padding-right: 20vw;
}

.title {
    display:flex;
    justify-content: center;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 1%;
    padding-righ: 1%;
    font-size:7vh;
}

.col-md-4 {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.consultas {
    padding-top: 10%;
    padding-bottom: 10%;
}

.resumen {
    margin-bottom: 20%;
    font-weight: bold;
}
